{% block beforehead %}{% endblock %}
{% block head %}<div class="well">{% endblock %}
{% block beforebody %}{% endblock %}
{% block body %}
{{config.contenido}}
{% endblock %}
{% block afterbody %}{% endblock %}
{% block foot %}</div>{% endblock %}
{% block afterfoot %}{% endblock %}