<IfModule mod_headers.c>
    <FilesMatch "\.(ttf|ttc|otf|eot|woff|font.css|css)$">
        Header set Access-Control-Allow-Origin "*"
    </FilesMatch>
    Header add Access-Control-Allow-Origin "*"
    Header add Access-Control-Allow-Origin "http://localhost"
    Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
    Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
</IfModule>

RewriteEngine on 
RewriteCond $1 !^(index.php|resources) 
RewriteRule ^(.*)$ /uiservices/index.php/$1 [L]
ErrorDocument 404 /uiservices/index.php?error_apache_enola=404