{% block beforehead %}{% endblock %}
{% block head %}
<div class="form-group">
<label class="col-md-2 control-label" for="filebutton">{{config.label}}</label>
<div class="col-md-4">
{% endblock %}
{% block beforebody %}{% endblock %}
{% block body %}
<input name="{{config.name}}" class="input-file" type="file">
{% endblock %}
{% block afterbody %}{% endblock %}
{% block foot %}   
</div></div>
{% endblock %}
{% block afterfoot %}{% endblock %}