{% block beforehead %}{% endblock %}
{% block head %}<div class="alert alert-{{config.type}} alert-dismissable">{% endblock %}
{% block beforebody %}{% endblock %}
{% block body %}
<button type="button" class="close" data-dismiss="alert">&times;</button>
<strong>{{config.strong}}</strong> {{config.message}}
{% endblock %}
{% block afterbody %}{% endblock %}
{% block foot %}</div>{% endblock %}
{% block afterfoot %}{% endblock %}