{% block beforehead %}{% endblock %}
{% block head %}<a href="{{config.href}}">{% endblock %}
{% block beforebody %}{% endblock %}
{% block body %}
{{config.label}} <span class="badge">{{config.badge}}</span>
{% endblock %}
{% block afterbody %}{% endblock %}
{% block foot %}</a>{% endblock %}
{% block afterfoot %}{% endblock %}