{% block beforehead %}{% endblock %}
{% block head %}<blockquote>{% endblock %}
{% block beforebody %}{% endblock %}
{% block body %}
<p>{{config.texto}}</p>
<small>{{config.fuente}}</small>
{% endblock %}
{% block afterbody %}{% endblock %}
{% block foot %}</blockquote>{% endblock %}
{% block afterfoot %}{% endblock %}