{% block beforehead %}{% endblock %}
{% block head %}
{% if config.seccion == null or config.seccion == "cabecera" %}
<div class="form-group">
<label class="col-md-2 control-label" for="radios">{{config.label}}</label>
<div class="col-md-10">  
{% endif %}
{% endblock %}
{% block beforebody %}{% endblock %}
{% block body %}      
{{ hijos | raw }}
{% endblock %}
{% block afterbody %}{% endblock %}
{% block foot %}           
{% if config.seccion == null or config.seccion == "pie" %}
</div></div>
{% endif %}
{% endblock %}
{% block afterfoot %}{% endblock %}