{% block beforehead %}{% endblock %}
{% block head %}
{% if config.ratio == "4:3" %}
<div class="embed-responsive embed-responsive-4by3">
{% else %}
<div class="embed-responsive embed-responsive-16by9">
{% endif %}
{% endblock %}
{% block beforebody %}{% endblock %}
{% block body %}
<iframe class="embed-responsive-item" src="{{config.src}}"></iframe>
{% endblock %}
{% block afterbody %}{% endblock %}
{% block foot %}</div>{% endblock %}
{% block afterfoot %}{% endblock %}