{% block beforehead %}{% endblock %}
{% block head %}<div class="page-header">{% endblock %}
{% block beforebody %}{% endblock %}
{% block body %}
<h1>{{config.primario}} <small>{{config.secundario}}</small></h1>
{% endblock %}
{% block afterbody %}{% endblock %}
{% block foot %}</div>{% endblock %}
{% block afterfoot %}{% endblock %}