{% block beforehead %}{% endblock %}
{% block head %}
{% if config.striped == "si" %}
<div class="progress progress-striped active">
{% else %}
<div class="progress">       
{% endif %}
{% endblock %}
{% block beforebody %}{% endblock %}
{% block body %}
<div class="progress-bar" role="progressbar" aria-valuenow="{{config.porcentaje}}" aria-valuemin="0" aria-valuemax="100" style="width: {{config.porcentaje}}%">
<span class="sr-only">{{config.porcentaje}}% completado</span>
</div>
{% endblock %}
{% block afterbody %}{% endblock %}
{% block foot %}</div>{% endblock %}
{% block afterfoot %}{% endblock %}