{% block beforehead %}{% endblock %}
{% block head %}<h3>{% endblock %}
{% block beforebody %}{% endblock %}
{% block body %}
{{config.title}}
{% endblock %}
{% block afterbody %}{% endblock %}
{% block foot %}</h3>{% endblock %}
{% block afterfoot %}{% endblock %}