{% block beforehead %}{% endblock %}
{% block head %}<li class="{{config.state}}">{% endblock %}
{% block beforebody %}{% endblock %}
{% block body %}    
{% if config.href != null %}
<a href="{{config.href}}">{{config.label}}</a>
{% else %}
{{config.label}}
{% endif %}
{% endblock %}
{% block afterbody %}{% endblock %}
{% block foot %}</li>{% endblock %}
{% block afterfoot %}{% endblock %}